@using PagedList.Mvc;
@using PagedList;
@model IPagedList<KIOSK_Management.Models.V_QuangCao>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nội dung
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Thời lượng (giây)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
                <img class="img-responsive" src="~/Images/QuangCao/@item.HinhAnh" alt="@item.HinhAnh" style="max-width:200px;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiLuong)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaQC }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaQC })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))